# LaTeX build outputs for DR_Yaglom
/DR_Yaglom.aux
/DR_Yaglom.bbl
/DR_Yaglom.bcf
/DR_Yaglom.blg
/DR_Yaglom.dvi
/DR_Yaglom.fdb_latexmk
/DR_Yaglom.fls
/DR_Yaglom.lof
/DR_Yaglom.log
/DR_Yaglom.lot
/DR_Yaglom.out
/DR_Yaglom.pdf
/DR_Yaglom.run.xml
/DR_Yaglom.synctex.gz
/DR_Yaglom.toc
/DR_Yaglom.xdv
/.lake/
